* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tammudu 2", cursive;
}

body {
  background-color: #03070f;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 0%;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

img {
  width: 300px;
  height: 300px;
}

p,
h1,
h2,
h3 {
  color: #fff;
}

button {
  color: #fff;
  background: rgb(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.galeriailustraciones {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.galeriailustraciones img {
  transition: all 0.5s;
}

.chantale__cont {
  width: 20%;
  height: 15%;
}

.chantale__cont img {
  width: 100%;
  height: 100%;
}

.galeriapersonajes {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.galeriapersonajes img {
  transition: all 0.5s;
  /* animation: 0.5s; */
  height: 290px;
}

.galeriapersonajes img:hover {
  transform: scale(2);
  width: auto;
}

.part3 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.part3 img {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0.4%;
  object-fit: cover;
}

.part4 {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.part4 img {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0.4%;
  object-fit: cover;
}

.header {
  width: 80%;
  height: 20%;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  /* border-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.3),
    rgba(121, 0, 172, 0.25)
  );
  border: solid 1px transparent;
  border-image-slice: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% auto;
  padding: 2.5% 5% 1% 5%;
  filter: drop-shadow(0px 4px 25px rgb(0, 0, 0, 0.2));
}

.partearriba {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 35%;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1.5px #fff solid; */
}

.parteabajo {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 35%;
  align-items: center;
  justify-content: space-between;
}

/* .logo {
  font-size: 25px;
  margin-bottom: 3%;
  text-transform: uppercase;
} */

.logo1 {
  width: 25%;
  height: 25%;
}

.slogan {
  font-size: 14px;
  margin: -2% 0% 5% 0%;
}

.landingContainer {
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.a {
  color: #ffb23f;
  text-decoration: none;
  border: 1px #ffb23f solid;
  display: flex;
  width: 110px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 4% 0% 0% 0%;
}

.botones {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 1s;
}

.botones button {
  font-size: 15px;
}

.botones button:hover {
  color: #86a5d9;
  border-bottom: solid 1px #86a5d9;
}

.contactoyredes {
  width: 22%;
  height: 100%;
  display: block;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
}

.contactoyredes a {
  color: #86a5d9;
  text-decoration: none;
  font-size: 17px;
}

.titulo {
  font-weight: bold;
  color: #86a5d9;
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 10%;
  /* margin-bottom: -5%; */
}

.subtitulo {
  font-size: 15px;
  margin-top: -1%;
  margin-bottom: -5%;
}

.titulo,
.subtitulo {
  text-align: center;
}

.ilustraciones p {
  margin: 0% 10%;
  font-size: 20px;
}

.characterdesign p {
  text-align: center;
  margin: 10% 0% 5% 0%;
  font-size: 20px;
}

.biografia {
  width: 100%;
  height: 600px;
  background: rgb(255, 164, 32);
  margin: 10% 0% 0% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio {
  font-size: 40px;
  margin: 7% 0%;
  text-transform: uppercase;
}

.texto {
  margin: 10% 20% 0% 10%;
  font-size: 17px;
}

.nv {
  width: 500px;
  height: 350px;
  margin: 15% 0% 0% -15%;
  box-shadow: 20px 20px 0px #fff;
}

.tablacomisiones {
  margin-bottom: 15%;
}

.titulo2 {
  color: #ffb23f;
  font-size: 40px;
  margin: 10% 0% 0% 0%;
  text-align: center;
  text-transform: uppercase;
}

.postitulo {
  text-align: center;
  margin: 1% 0% 7% 0%;
  font-size: 18px;
}

.precios {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: -8%;
}

.precios p {
  color: #ffb23f;
  font-size: 20px;
}

.condiciones {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: 0%;
}

.condiciones p {
  margin: 8%;
}

.hacerpedidos {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: -4%;
}

.hacerpedidos a {
  color: #ffb23f;
  text-decoration: none;
  border: 1px #ffb23f solid;
  display: flex;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.copyright {
  height: 100px;
}

/* .designprocess {
  text-align: center;
  margin: 10% 0% 5% 0%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

/* /* width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 0%; */

/* .designprocess p {
  font-size: 15px;
  font-weight: 100;
  width: 50%;
  height: 80%;
} */

/*.designprocess img {
  width: 40%;
  height: 50%;
} */

.bc,
.lc {
  width: 40%;
  height: 40%;
}

.pa {
  width: 60%;
  height: 60%;
  text-align: center;
  margin: 10% 0%;
}

.pa p {
  font-weight: 100;
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

.container-slider {
  height: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin: 15% auto;
}

.txt-slider {
  font-size: 20px;
  margin-left: 40%;
  margin-bottom: 5%;
}

.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #ffb23f;
  background: rgb(0, 0, 0, 0);
  top: 58%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50%;
}

.slider__btn:hover {
  background: rgb(0, 0, 0, 0.5);
}

/* .slider__btn--left {
} */

.slider__btn--right {
  right: 10px;
}

.landingContainer {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10%;
}

.leftpart {
  width: 45%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.name H1,
h2 {
  font-size: 40px;
  width: 45%;
  line-height: 150%;
}

.name H1 {
  color: #86a5d9;
  font-weight: 900;
}

.name h2 {
  font-weight: lighter;
}

.rightpart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  height: 45vh;
}

.resume {
  width: 100%;
  display: flex;
  /* justify-content: flex-end; */
}

.resume p {
  width: 85%;
  line-height: 40px;
  font-size: 17px;
}

.tagline p {
  font-size: 20px;
}

.contact__button {
  display: flex;
  width: 150px;
  height: 50px;
  background: rgb(0, 0, 0, 0);
  border: solid 1px #ffb23f;
  border-radius: 5px;
  color: #ffb23f;
  text-decoration: none;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.skills {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skill__container {
  width: 90%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.skill__container div {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  /* border-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.3),
    rgba(121, 0, 172, 0.25)
  );
  border: solid 1px transparent;
  border-image-slice: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: lighter;
  filter: drop-shadow(0px 4px 25px rgb(0, 0, 0, 0.2));
}

.skills h3 {
  font-size: 25px;
  font-weight: lighter;
}

.skills p {
  background: linear-gradient(165deg, #fff, rgb(24, 144, 255, 0.5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.title__cont {
  width: 3%;
  display: flex;
  margin: 5% 10%;
}

.title__cont p {
  font-size: 25px;
  font-weight: lighter;
}

.a1 {
  color: #86a5d9;
  font-weight: bolder;
}

.circle-cont {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.circle {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  filter: blur(60px);
  position: absolute;
  z-index: -1;
}

.circle1 {
  top: 31%;
  left: 25%;
  background: linear-gradient(100deg, #7900ac, #86a5d9);
}

.circle2 {
  width: 200px;
  height: 200px;
  top: -5%;
  right: 0%;
  background: linear-gradient(190deg, #7900ac, #86a5d9);
}
.circle3 {
  width: 150px;
  height: 150px;
  top: 60%;
  left: 60%;
  background: linear-gradient(100deg, #7900ac, #86a5d9);
}

.circle4 {
  width: 150px;
  height: 150px;
  top: 150%;
  left: 80%;
  background: linear-gradient(100deg, #7900ac, #86a5d9);
}
