* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #1b1b1b;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 0%;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

img {
  width: 300px;
  height: 300px;
}

p,
h1,
h2,
h3 {
  color: #fff;
}

button {
  color: #fff;
  background: rgb(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.galeriailustraciones {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.galeriailustraciones img {
  transition: all 0.5s;
}

.galeriailustraciones img:hover {
  transform: scale(1.3);
  width: auto;
  /* object-fit: ; */
}

.part1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.part1 img {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0.4%;
  object-fit: cover;
}

.part2 {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.part2 img {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0.4%;
  object-fit: cover;
}

.galeriapersonajes {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.galeriapersonajes img {
  transition: all 0.5s;
  /* animation: 0.5s; */
  height: 290px;
}

.galeriapersonajes img:hover {
  transform: scale(1.3);
  width: auto;
}

.part3 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.part3 img {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0.4%;
  object-fit: cover;
}

.part4 {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.part4 img {
  cursor: pointer;
  width: 33%;
  height: 100%;
  margin: 0.4%;
  object-fit: cover;
}

.partearriba {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 35%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px #fff solid;
}

.parteabajo {
  display: flex;
  flex-direction: row;
  width: 1100px;
  height: 35%;
  justify-content: space-between;
  align-items: center;
  margin: 1% 0% 5% 0%;
}

/* .logo {
  font-size: 25px;
  margin-bottom: 3%;
  text-transform: uppercase;
} */

.logo1 {
  width: 17%;
  height: 17%;
}

.slogan {
  font-size: 14px;
  margin: -2% 0% 5% 0%;
}

.a {
  color: #ffb23f;
  text-decoration: none;
  border: 1px #ffb23f solid;
  display: flex;
  width: 110px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin: 4% 0% 0% 0%;
}

.botones {
  width: 38%;
  display: flex;
  justify-content: space-between;
  margin-left: 0%;
}

.contactoyredes {
  width: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contactoyredes a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}

.titulo {
  color: #ffb23f;
  font-size: 60px;
  margin: 10% 0% 8% 0%;
  text-align: center;
  text-transform: uppercase;
}

.ilustraciones p {
  text-align: center;
  margin: 5% 0%;
  font-size: 20px;
}

.characterdesign p {
  text-align: center;
  margin: 10% 0% 5% 0%;
  font-size: 20px;
}

.biografia {
  width: 100%;
  height: 600px;
  background: rgb(255, 164, 32);
  margin: 10% 0% 0% 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bio {
  font-size: 40px;
  margin: 7% 0%;
  text-transform: uppercase;
}

.texto {
  margin: 10% 20% 0% 10%;
  font-size: 17px;
}

.nv {
  width: 500px;
  height: 350px;
  margin: 15% 0% 0% -15%;
  box-shadow: 20px 20px 0px #fff;
}

.tablacomisiones {
  margin-bottom: 15%;
}

.titulo2 {
  color: #ffb23f;
  font-size: 40px;
  margin: 10% 0% 0% 0%;
  text-align: center;
  text-transform: uppercase;
}

.postitulo {
  text-align: center;
  margin: 1% 0% 7% 0%;
  font-size: 18px;
}

.precios {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: -8%;
}

.precios p {
  color: #ffb23f;
  font-size: 20px;
}

.condiciones {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: 0%;
}

.condiciones p {
  margin: 8%;
}

.hacerpedidos {
  width: 1000px;
  display: flex;
  justify-content: space-around;
  margin-left: -4%;
}

.hacerpedidos a {
  color: #ffb23f;
  text-decoration: none;
  border: 1px #ffb23f solid;
  display: flex;
  width: 130px;
  height: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
}

.copyright {
  height: 100px;
}

/* .designprocess {
  text-align: center;
  margin: 10% 0% 5% 0%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

/* /* width: 80%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5% 0%; */

/* .designprocess p {
  font-size: 15px;
  font-weight: 100;
  width: 50%;
  height: 80%;
} */

/*.designprocess img {
  width: 40%;
  height: 50%;
} */

.bc,
.lc {
  width: 40%;
  height: 40%;
}

.pa {
  width: 60%;
  height: 60%;
  text-align: center;
  margin: 10% 0%;
}

.pa p {
  font-weight: 100;
  width: 50%;
  height: 50%;
  margin-left: 25%;
}

.container-slider {
  height: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  margin: 15% auto;
}

.txt-slider {
  font-size: 20px;
  margin-left: 40%;
  margin-bottom: 5%;
}

.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: #ffb23f;
  background: rgb(0, 0, 0, 0);
  top: 58%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 50%;
}

.slider__btn:hover {
  background: rgb(0, 0, 0, 0.5);
}

/* .slider__btn--left {
} */

.slider__btn--right {
  right: 10px;
}
